<div class="share">
    Share this on 
    <a id="twitter" href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute='true'}}">Twitter</a>, 
    <a id="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}">Facebook</a>, 
    <a id="google-plus" href="https://plus.google.com/share?url={{url absolute='true'}}">Google+</a>,    
    <a id="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute='true'}}">LinkedIn</a>,
    <a id="reddit" href="https://reddit.com/submit?url={{url absolute='true'}}">Reddit</a> or by
    <a id="mail" href="mailto:?subject={{encode title}}&amp;body={{url absolute='true'}}">email</a>.
</div>
